.card-container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    padding: 10px
    gap: 2rem
    justify-content: center
    align-items: center
    min-height: 100vh

@media (max-width: 500px)
    .card-container
        padding: 10% 50% 0% 50%
        min-height: 75vh
